@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
}

body {
margin: 0;
font-family: 'Poppins';
font-weight: 400px;
overflow-x: hidden;
}

code {
font-family: 'Poppins';
}

h1 {
  font-size: 48px !important ;
  font-family: 'Inter' !important;
  font-weight: 800;

  
}


h2 {
  font-size: 36px !important;
  font-family: 'Inter' !important;
  font-weight: 700; 
}

h3 {
  font-size: 24px !important;
  font-family: 'Inter' !important;
  font-weight: 800 !important;

  
}


h4 {
  font-size: 20px !important;
  font-family: 'Poppins' !important;
  font-weight: 600;
}



h5 {
  font-size: 17px !important;
  font-family: 'Poppins' !important;
  font-weight: 500;
}


h6 {
  font-size: 16px !important;
  font-family: 'Poppins' !important;
  font-weight: 500;
  
}


p {
  font-size: 14px !important;
  font-family: 'Poppins' !important;
  font-weight: 500;
}

.nav-link{
  color: #000000;
  text-decoration: none;
}
.nav-link:hover, .active{
  border-bottom: 1px solid #000000 !important;
  border-radius: none !important;
  
}
input::placeholder {
 font-weight: 400;
  font-size: 12px;

}

.custom-carousel .carousel-indicators .active {
  background-color: #EC2C5C !important; 
}
.custom-carousel .carousel-control-prev ,
.custom-carousel .carousel-control-next {
  display: none;
}

.image-glow {
  filter: drop-shadow(0 0 10px white);
}


.active-jobs-button{
  background-color: #DB4444;
  color: white;
  border: none;
  cursor: pointer;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.jobs-button{
  background-color: white;
  color:#000000;
  border: 1px solid #dfdcdc !important;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  

}


.timer{
  width: 62px;
  height: 62px;
}
@media (max-width: 768px) {
  h1 {
    font-size: 28px !important;
  }
  h2 {
    font-size: 24px !important;
    
  }
  h3 {
    font-size: 21px !important;
   
  }
  h4 {
    font-size: 18px !important;
  }
  h5 {
    font-size: 16px !important;
  }
  h6 {
    font-size: 14px !important;
  }
  p {
    font-size: 12px !important;
  }
  .timer{
    width: 50px;
    height: 50px;
  }
  
}